
a, .post-full-meta-date, .date-divider{
    color: #d73273;
}
body{
    background:#10171e;
}

.post-feed{
    margin-top: 0px !important;
}
/* .site-header{
    background: #333;
} */
.site-header{
    background-repeat: no-repeat;
    background-color: #10171e;
    background-size: 80%;
}

.site-header:before {
    background: none;
}
.site-footer-nav{
 display: none;
}
.nav li a{
    opacity: 1;
}
.post-full-title{
    color: #fff;
}
.page-template .site-main, .post-template .site-main, .site-header:after, .site-footer{
    background: #10171e;
}